{
    "extends": [
        "strongloop",
        "plugin:chai-expect/recommended",
        "plugin:mocha/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true,
        "mocha": true
    },
    "plugins": [
        "chai-expect",
        "mocha"
    ],
}